@font-face {
    font-family: abel;
    src: url("abel.ttf");
}

.titulo {
    font-size: 25px;
    font-weight: 700;
    color: rgb(41, 22, 112);
}

h1 {
  font-weight: bold;
  color: red;
}

h2{
    text-decoration: underline;

}

p {
    font-weight: bold;
    color: red;
}

li {
    color: purple;
}

.img1 {
    height: 300px;
    width: 300px;
    border: 1px dotted purple;
}

.img2 {
    height: 300px;
    width: 600px;
    border: 1px dotted purple;

}